{% extends "html.twig" %}

{% block title %}{{ user }}{% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ user }} profile</h1>
    </div>
    <div class="row">
        <p>Total checkins - {{ user_total_checkins }}</p>
    </div>

    {% for year in years_active %}
        <div class="row">
            <p>
                <a href="/user/{{ user }}/{{ year }}">{{ year }}</a> - <a href="/user/{{ user }}/{{ year }}/stats">Stats</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}
